*{
    padding: 0vh;
    margin: 0vh;
    font-family: "Roboto", sans-serif;
}
body{
    height: 5000px;
}
html{
    background-color: #1c1e1f;
    scroll-behavior: smooth;
}

/* nav */
nav{
    width: 5%;
    height: 100%;
    position: fixed;
}
.nav_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav_box>span{
    color: #d62222;
    font-size: 4.5vh;
    font-weight: 800;
    padding-top: 5vh;
}
.nav_box>a{  
    padding-bottom: 5vh;
}
.nav_box a{
    text-decoration: none;
    color: #8d8e8f;
    transition-duration: 0.5s;
    display: block;
    font-size: 4vh;
    padding-top: 3vh;
}
.nav_box a:hover{
    color: #d62222;
}

/* photo section */
.photo{
    background: linear-gradient(to top, #1c1e1fe6, #0000 56%), linear-gradient(#1c1e1f1a, #1c1e1f1a), url(../images/person.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 35%;
    margin-left: 5%;
    position: fixed;
}
.photo_info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.photo_info h1{
    font-size: 7vh;
    font-weight: 800;
    color: white;
}
.photo_info h2{
    font-size: 3vh;
    font-weight: 400;
    color: #d62222;
    padding: 2vh 0vh 3vh 0vh;
}
.photo_info>div{
    display: block;
        padding-bottom: 5vh;
}
.photo_info>div a{
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
    font-size: 3vh;
    padding-right: 2vh;
}
.photo_info>div a:hover{
    color: #d62222;
}

/* About Me */
.about_me{
    width: 60%;
    margin-left: 40%;
}
.about_me_box{
    width: 90%;
    margin: auto;
    padding: 10vh 0vh;
    border-bottom: 0.2vh solid #8d8e8f;
}
.about_me_box h1{
    font-size: 7vh;
    font-weight: 800;
    color: white;
}
.about_me_box h2{
    font-size: 2.5vh;
    font-weight: 400;
    color: #d62222;
    padding: 2vh 0vh 3vh 0vh;
}
.about_me_box p{
    color: #8d8e8f;
}